body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

h1 {
    font-size: 2em;
    color: #c20ee6;
}

nav ul li  {
    margin-right: 10px;
    display: inline-block;
}

nav ul li a  {
    text-decoration: none;
}